<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Universul electronicelor și electrocasnicelor la cele mai bune prețuri.">
        <meta name="keywords" content="electronice, electrocasnice, telefoane, tablete, jocuri, televizoare, smartphone">
        <title>ElectroHub</title>
        <%- include("../fragmente/head.ejs"); %> 
        <link rel="stylesheet" href="/temp/galerie_animata.css" type="text/css"/>
    </head>
    <body>
 
        <%- include("../fragmente/header.ejs"); %> 

        <main>
            <div id="grid-pagina">
                <section id="welcome">
                    <h2>Bine ați venit!</h2>

                    <!-- <%- locals.ip %>  -->

                    <p>ElectroHub România reprezintă cel mai mare furnizor de tehnologie la nivel național,
                        oferind clienților toate produsele <b>electronice</b> și <b>electrocasnice</b> necesare, împreună cu servicii de calitate, 
                        dar și tehnică de ultimă generație, de la cele mai noi <b>televizoare</b> numai bune pentru a te relaxa, până la <b>telefoane</b> mobile,
                        <b>tablete</b> și <b>jocuri</b> pentru a-i face fericiți pe cei mici și nu numai.</p>
                    <p>Scopurile urmărite de compania noastră sunt:</p>
                    <ol>
                        <li>Asigurarea serviciilor de calitate clienților noștri</li>
                        <li>Eficiență și rapiditate</li>
                        <li>Oferirea unei game variate de produse</li>
                        <li><q lang="ro" cite="https://www.postmodern.ro/articol/citate-despre-succes/">Când totul pare că e împotriva ta, amintește-ți că avioanele decolează întotdeauna împotriva vântului.</q></li>
                    </ol>

                    <figure>
                        <img sizes="(min-width:1200px) 1280px, (min-width:600px) 640px, 200px"
                            srcset="./resurse/imagini/online_shopping_large.jpg 1280w, 
                                    ./resurse/imagini/online_shopping_medium.jpg 640w, 
                                    ./resurse/imagini/online_shopping_small.jpg 200w"
                            src="./resurse/imagini/online_shopping_medium.jpg"
                            alt="online_shopping"
                            class="imagine_client"/>
                        <figcaption>Servicii de <em>calitate</em> și clienți mulțumiți</figcaption>
                    </figure>

                </section>

                <section id="tabel">
                    <div>
                        <table id="tabel-orar">
                            <thead>
                                <tr>
                                    <th>Perioadă</th>
                                    <th>Zi</th>
                                    <th>Interval dimineață</th>
                                    <th>Pauză de masă</th>
                                    <th>Interval după-amiază</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="5">Zile lucrătoare</td>
                                    <td>Luni</td>
                                    <td>09:00 - 13:00</td>
                                    <td>13:00 - 14:00</td>
                                    <td>14:00 - 20:00</td>
                                </tr>
                                <tr>
                                    <td>Marți</td>
                                    <td>09:00 - 13:00</td>
                                    <td>13:00 - 14:00</td>
                                    <td>14:00 - 20:00</td>
                                </tr>
                                <tr>
                                    <td>Miercuri</td>
                                    <td>09:00 - 13:00</td>
                                    <td>13:00 - 14:00</td>
                                    <td>14:00 - 20:00</td>
                                </tr>
                                <tr>
                                    <td>Joi</td>
                                    <td>09:00 - 13:00</td>
                                    <td>13:00 - 14:00</td>
                                    <td>14:00 - 20:00</td>
                                </tr>
                                <tr>
                                    <td>Vineri</td>
                                    <td>09:00 - 13:00</td>
                                    <td>13:00 - 14:00</td>
                                    <td>14:00 - 20:00</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Weekend</td>
                                    <td>Sâmbătă</td>
                                    <td>10:00 - 13:00</td>
                                    <td>13:00 - 14:00</td>
                                    <td>14:00 - 17:00</td>
                                </tr>
                                <tr>
                                    <td>Duminică</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                <td colspan="5">În toate <a href="https://www.zileliberelegale.ro/zile-libere-2022">sărbătorile legale</a> și duminici magazinele noastre sunt închise.</td>
                                </tr>
                            </tfoot>
                            <caption>Program de lucru</caption>
                        </table>
                    </div>
                </section>

                <section id="calendar">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam odio vitae purus sagittis congue. Nullam eu facilisis felis. Suspendisse dapibus, leo id hendrerit convallis, dolor eros condimentum augue, eu luctus felis dolor sed odio. Phasellus congue tincidunt lectus, quis laoreet nibh. Nam ac nulla aliquet, dapibus eros non, dictum nulla. Donec mollis, nunc vel fringilla condimentum, enim orci varius ante, sed rutrum lectus risus et quam. Sed suscipit ac eros nec placerat. Aliquam quis urna id orci eleifend eleifend ut in sem. Fusce facilisis tristique tellus at fermentum.
                        Sed scelerisque malesuada felis eget luctus. In consectetur et lectus vel maximus. Morbi accumsan magna sed orci lobortis imperdiet. Nam sit amet risus vel lectus maximus accumsan vitae at metus. Ut convallis nisi vel tortor placerat varius. Sed pulvinar felis quis magna bibendum convallis. Praesent at arcu eget turpis viverra varius ut vel elit. Nulla cursus faucibus magna, vitae laoreet magna feugiat sit amet. Pellentesque dictum mauris lacinia, elementum tellus vitae, interdum velit. Nullam a commodo nibh. Aenean ultricies venenatis mauris. Pellentesque vel scelerisque felis. Cras gravida, sem nec laoreet bibendum, leo sapien dignissim massa, et ullamcorper sapien purus cursus ex. Phasellus consequat fringilla enim, non aliquam velit egestas lobortis.</p>
                </section>

                <section id="anunturi">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam odio vitae purus sagittis congue. Nullam eu facilisis felis. Suspendisse dapibus, leo id hendrerit convallis, dolor eros condimentum augue, eu luctus felis dolor sed odio. Phasellus congue tincidunt lectus, quis laoreet nibh. Nam ac nulla aliquet, dapibus eros non, dictum nulla. Donec mollis, nunc vel fringilla condimentum, enim orci varius ante, sed rutrum lectus risus et quam. Sed suscipit ac eros nec placerat. Aliquam quis urna id orci eleifend eleifend ut in sem. Fusce facilisis tristique tellus at fermentum.
                        Sed scelerisque malesuada felis eget luctus. In consectetur et lectus vel maximus. Morbi accumsan magna sed orci lobortis imperdiet. Nam sit amet risus vel lectus maximus accumsan vitae at metus. Ut convallis nisi vel tortor placerat varius. Sed pulvinar felis quis magna bibendum convallis. Praesent at arcu eget turpis viverra varius ut vel elit. Nulla cursus faucibus magna, vitae laoreet magna feugiat sit amet. Pellentesque dictum mauris lacinia, elementum tellus vitae, interdum velit. Nullam a commodo nibh. Aenean ultricies venenatis mauris. Pellentesque vel scelerisque felis. Cras gravida, sem nec laoreet bibendum, leo sapien dignissim massa, et ullamcorper sapien purus cursus ex. Phasellus consequat fringilla enim, non aliquam velit egestas lobortis.</p>
                </section>

                <section id="users-list">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam odio vitae purus sagittis congue. Nullam eu facilisis felis. Suspendisse dapibus, leo id hendrerit convallis, dolor eros condimentum augue, eu luctus felis dolor sed odio. Phasellus congue tincidunt lectus, quis laoreet nibh. Nam ac nulla aliquet, dapibus eros non, dictum nulla. Donec mollis, nunc vel fringilla condimentum, enim orci varius ante, sed rutrum lectus risus et quam. Sed suscipit ac eros nec placerat. Aliquam quis urna id orci eleifend eleifend ut in sem. Fusce facilisis tristique tellus at fermentum.
                        Sed scelerisque malesuada felis eget luctus. In consectetur et lectus vel maximus. Morbi accumsan magna sed orci lobortis imperdiet. Nam sit amet risus vel lectus maximus accumsan vitae at metus. Ut convallis nisi vel tortor placerat varius. Sed pulvinar felis quis magna bibendum convallis. Praesent at arcu eget turpis viverra varius ut vel elit. Nulla cursus faucibus magna, vitae laoreet magna feugiat sit amet. Pellentesque dictum mauris lacinia, elementum tellus vitae, interdum velit. Nullam a commodo nibh. Aenean ultricies venenatis mauris. Pellentesque vel scelerisque felis. Cras gravida, sem nec laoreet bibendum, leo sapien dignissim massa, et ullamcorper sapien purus cursus ex. Phasellus consequat fringilla enim, non aliquam velit egestas lobortis.</p>
                </section>

                <section id="statistici">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam odio vitae purus sagittis congue. Nullam eu facilisis felis. Suspendisse dapibus, leo id hendrerit convallis, dolor eros condimentum augue, eu luctus felis dolor sed odio. Phasellus congue tincidunt lectus, quis laoreet nibh. Nam ac nulla aliquet, dapibus eros non, dictum nulla. Donec mollis, nunc vel fringilla condimentum, enim orci varius ante, sed rutrum lectus risus et quam. Sed suscipit ac eros nec placerat. Aliquam quis urna id orci eleifend eleifend ut in sem. Fusce facilisis tristique tellus at fermentum.
                        Sed scelerisque malesuada felis eget luctus. In consectetur et lectus vel maximus. Morbi accumsan magna sed orci lobortis imperdiet. Nam sit amet risus vel lectus maximus accumsan vitae at metus. Ut convallis nisi vel tortor placerat varius. Sed pulvinar felis quis magna bibendum convallis. Praesent at arcu eget turpis viverra varius ut vel elit. Nulla cursus faucibus magna, vitae laoreet magna feugiat sit amet. Pellentesque dictum mauris lacinia, elementum tellus vitae, interdum velit. Nullam a commodo nibh. Aenean ultricies venenatis mauris. Pellentesque vel scelerisque felis. Cras gravida, sem nec laoreet bibendum, leo sapien dignissim massa, et ullamcorper sapien purus cursus ex. Phasellus consequat fringilla enim, non aliquam velit egestas lobortis.</p>
                </section>

                <section id="date-site">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam odio vitae purus sagittis congue. Nullam eu facilisis felis. Suspendisse dapibus, leo id hendrerit convallis, dolor eros condimentum augue, eu luctus felis dolor sed odio. Phasellus congue tincidunt lectus, quis laoreet nibh. Nam ac nulla aliquet, dapibus eros non, dictum nulla. Donec mollis, nunc vel fringilla condimentum, enim orci varius ante, sed rutrum lectus risus et quam. Sed suscipit ac eros nec placerat. Aliquam quis urna id orci eleifend eleifend ut in sem. Fusce facilisis tristique tellus at fermentum.
                        Sed scelerisque malesuada felis eget luctus. In consectetur et lectus vel maximus. Morbi accumsan magna sed orci lobortis imperdiet. Nam sit amet risus vel lectus maximus accumsan vitae at metus. Ut convallis nisi vel tortor placerat varius. Sed pulvinar felis quis magna bibendum convallis. Praesent at arcu eget turpis viverra varius ut vel elit. Nulla cursus faucibus magna, vitae laoreet magna feugiat sit amet. Pellentesque dictum mauris lacinia, elementum tellus vitae, interdum velit. Nullam a commodo nibh. Aenean ultricies venenatis mauris. Pellentesque vel scelerisque felis. Cras gravida, sem nec laoreet bibendum, leo sapien dignissim massa, et ullamcorper sapien purus cursus ex. Phasellus consequat fringilla enim, non aliquam velit egestas lobortis.</p>
                </section>

                <section id="random">

                    <% for (let p of locals.produse){ %>
                            <p><%- p.id %><%- p.nume %><%- p.pret %></p>
                    <% } %>

                    <div id="galerie_statica">
                        <%  
                            lunile_anului = ["ianuarie", "februarie", "martie", "aprilie", "mai"]
                            for(let imag of locals.imagini){ 
                                d = new Date()
                                if(imag.luni && imag.luni.includes(lunile_anului[d.getMonth()])){
                                    %>    
                                        <figure>
                                            <picture>
                                                <source srcset="<%-imag.mic%>" media="(max-width:500px)"/>
                                                <source srcset="<%-imag.mediu%>" media="(max-width:1200px)"/>
                                                <img src="<%-imag.mare%>" alt="text alternativ"/>
                                            </picture>
                                            <figcaption><%-imag.descriere%></figcaption>
                                        </figure>
                                    <%    
                                }
                        }
                        %> 
                    </div>
                    
                    <section id="sectiune-galerie-animata">
                        <h2>Galerie animata</h2>
                        <div id="galerie-animata" class ="galerie-a">
                            <%  
                                for(let imag of locals.imagini){ 
                                    %>    
                                        <figure>
                                            <picture>
                                                <source srcset="<%-imag.mic%>" media="(max-width:500px)"/>
                                                <source srcset="<%-imag.mediu%>" media="(max-width:1200px)"/>
                                                <img src="<%-imag.mare%>" alt="text alternativ"/>
                                            </picture>
                                            <figcaption><%-imag.descriere%></figcaption>
                                        </figure>
                                    <%    
                            }
                            %> 
                        </div>
                    </section>

                    <video id="video_vtt" width="320" height="240" controls preload="metadata" poster="/resurse/imagini/logo.png">
                        <source src="/resurse/video/video_hota.mp4" type="video/mp4">
                        <source src="/resurse/video/video_hota.ogv" type="video.ogg">
                        <track src="/resurse/video/tracks/captions-hota-ro.vtt" kind="subtitles" srclang="ro" label="Romanian" default>
                        <track src="/resurse/video/tracks/captions-hota-en.vtt" kind="subtitles" srclang="en" label="English">
                        Videoclipul nu este suportat de acest browser.
                    </video>

                    <br/><br/><br/>

                    <details>
                        <summary>Categorii de produse</summary>
                        <ol>
                            <li>Telefoane & Tablete</li>
                            <li>Laptop & Desktop</li>
                            <li>TV, Audio-Video & Foto</li>
                            <li>Periferice</li>
                            <li>Gaming, Jocuri</li>
                            <li>Electrocasnice mari</li>
                            <li>Electrocasnice mici</li>
                            <li>Îngrijire personală</li>
                        </ol>
                    </details>

                    <details>
                        <summary>Întrebări frecvente</summary>
                        <ol>
                            <li>Cum cumpăr?</li>
                            <li>Cum pot returna un produs?</li>
                            <li>Cum aflu dacă produsul meu este sau nu în garanție?</li>
                        </ol>
                    </details>
                    
                    <section id="prezentari">
                        <h2>Prezentări</h2>
                        <p>Aici puteți vedea cele mai noi telefoane ale momentului prezentate profesionist.</p>

                        <div class="video-prezentari">
                            <div id="container-iframe">
                                <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/Awu6ZyfDeeQ" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                             <div class="taburi-iframe">    
                                <a href="https://www.youtube.com/embed/Awu6ZyfDeeQ" target="ifr-video">Prezentare Iphone 13</a>
                                <a href="https://www.youtube.com/embed/XTiu4o0PCxY" target="ifr-video">Prezentare Samsung S22</a>
                            </div>
                        </div>

                       

                    </section>

                    <section id="orar">
                        <h2>Orar</h2>
                        <section>
                            <h3>Zile lucrătoare</h3>
                            <ol>
                                <li>Luni: 09:00 - 20:00</li>
                                <li>Marți: 09:00 - 20:00</li>
                                <li>Miercuri: 09:00 - 20:00</li>
                                <li>Joi: 09:00 - 20:00</li>
                                <li>Vineri: 09:00 - 20:00</li>
                                <li>Sâmbătă: 09:00 - 15:00</li>
                            </ol>
    
                            <a href="./resurse/imagini/orar.jpg" download="orar_ElectroHub_2022">Descarcă orarul</a>
    
                            <p>În toate <a href="https://www.zileliberelegale.ro/zile-libere-2022">sărbătorile legale</a> și duminici magazinele noastre sunt închise.</p>
                        </section>
                    </section>
                </section>
            </div>
        </main>

        <%- include("../fragmente/footer.ejs"); %> 

        <p id="watermark"></p>

    </body>
</html>