<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Universul electronicelor și electrocasnicelor la cele mai bune prețuri.">
        <meta name="keywords" content="electronice, electrocasnice, telefoane, tablete, jocuri, televizoare, smartphone">
        <title>ElectroHub</title>
        <%- include("../fragmente/head"); %> 
        <link rel="stylesheet" type="text/css" href="/resurse/css/produse.css"/>
        <script type="text/javascript" src="/resurse/js/produse.js"></script>
    </head>

    <body>

    <%- include("../fragmente/header") %>

    <main>

        <!--<label> Maxim calorii: <input type="number" id="inp-calorii" value="10000"></label>-->
        <!-- <div> Calorii: trebuie sa aiba acelasi name ca sa formeze un grup 
            <p><label>Dietetic (calorii &lt; 350)
                <input id="i_rad1"  name="gr_rad" value="0:350" type="radio"/>
            </label></p>
            <p><label>Mediu (350 &le; calorii &lt; 700)
                <input id="i_rad2"  name="gr_rad" value="350:750" type="radio"/>
            </label>
            <p><label>Ridicat caloric (700 &le; calorii)
                <input id="i_rad3" name="gr_rad" value="700:1000000000" type="radio"/>
            </label>
            <p><label>Toate
                <input id="i_rad4" checked name="gr_rad" value="toate" type="radio"/>
            </label>
        </div> -->

        <p>
            <label>Nume: <input type="text" id="inp-nume"></label>    
            
            <label>Pret minim: <input type="range" id="inp-pret-min" value="0" min="0"  max="5000"><span id="infoRangeMin"></span></label>
            
            <label>Pret maxim: <input type="range" id="inp-pret-max" value="5000" min="0"  max="5000"><span id="infoRangeMax"></span></label>
            
            <label>Categorie:
                <select id = "inp-categorie">
                    <option id = "sel-toate" selected value = "toate">toate</option>
                    <% for (let opt of locals.optiuni) { %>
                        <option value = "<%- opt.unnest %>"><%- opt.unnest %> </option>
                    <% } %>
                </select>
            </label>

            <label> <input type = "radio"> </label>
            
            <label> <input type = "checkbox"> </label>
            
            <label> <textarea id = "txtArea" rows = "10" cols = "70"></textarea> </label>
            
            <label> 
                <datalist id = "browsers">
                    <option value = "Edge">
                    <option value = "Firefox">
                    <option value = "Chrome">
                    <option value = "Opera">
                    <option value = "Safari">
                </datalist>
            </label>

            <label>Culori: 
                <option id = "sel-toate" selected value = "toate">toate</option>
                <select multiple id = "inp-culori" width="20"> 
                    <% for (let col of locals.culori) { %>
                        <option value = "<%- col.unnest %>"><%- col.unnest %> </option>
                    <% } %> 
                </select>
            </label>

        </p>

        <p>
            <button id="filtrare">Filtrează</button>
            <button id="resetare">Resetează</button>
            <button id="sortCrescNume">Sortează crescător dupa nume si preț</button>
            <button id="sortDescrescNume">Sortează descrescător dupa nume și preț</button>
            <button id="p-suma">Calculeaza suma preturilor produselor afișate</button>
        </p>

        <!-- my code below -->

        <section id="produse">
            <div class="grid-produse">
                <% for(let prod of locals.produse) { %>
                    <article class="produs">
                        <h3 class="nume"><a href="/produs/<%-prod.id %>"><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <p class="categorie">Categorie: <span class="val-categorie"><%- prod.categorie %></span></p>
                        
                        <div class="grid-intern">
                            <figure class="imag-produs">
                                <a href="produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.imagine %>" alt="[imagine <%- prod.nume %>]" /></a>
                            </figure>

                            <table class="info-prod">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="pret">Pret:</span>
                                        </td>
                                        <td>
                                            <span class="val-pret"><%- prod.pret %> RON</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="culoare">Culoare:</span>
                                        </td>
                                        <td>
                                            <span class="val-culoare"><%- prod.culoare %></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="descriere">Descriere:</span>
                                        </td>
                                        <td>
                                            <span class="val-descriere"><%- prod.descriere %></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="data_adaugare">Data adăugare:</span>
                                        </td>
                                        <td>
                                            <span class="val-data_adaugare"><time><%- `${prod.data_adaugare.getDate()}/${locals.luni[prod.data_adaugare.getMonth()]}/${prod.data_adaugare.getFullYear()} (${locals.zile[prod.data_adaugare.getDay()]})` %></time></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="premium">Premium:</span>
                                        </td>
                                        <td>
                                            <span class="val-premium">
                                                <% if(prod.premium == 'true') { %>
                                                    <%- 'Da' %>
                                                <% } else { %>
                                                    <%- 'Nu' %>
                                                <% } %>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <label class="selecteaza-cos">
                                Selectează:<br/>
                                <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                            </label>
                        </div>
                    </article>
                <% } %>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>