<section id="sectiune-galerie-statica">
    <h2>Galerie statica</h2>
    <div id="galerie_statica">
        <%  
            afisate = 0
            for(let imag of locals.imagini){ 
                d = new Date()
                if(afisate < 10 && imag.sfert_ora && imag.sfert_ora == (d.getMinutes/15 + 1)){
                    %>
                        <figure>
                            <picture>
                                <source srcset="<%-imag.mic%>" media="(max-width:500px)"/>
                                <source srcset="<%-imag.mediu%>" media="(max-width:1200px)"/>
                                <img src="<%-imag.mare%>" alt="<%-imag.titlu%>"/>
                            </picture>
                            <figcaption><%-imag.descriere%><br/><a href="<%- imag.sursa%>">sursa</a> </figcaption>
                        </figure>
                        afisate += 1
                    <%
                } 
        }
        %> 
    </div>
</section>